*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}   



.card-img-fixed {
  width: 100%;      

}
